

body {
    font-family:'work sans"
    /* Medidas Absolutas
    cm, mm, in, px, pt, pc

    Medidas Relativas
    em, ex, rem, vm, vh, %
    16px=1em

    weight- peso         width -largura   
    
    height-altura
    */

    font-size:'Times New Roman', Times, serif;
    font-weight: 100-900;
    /*lighter normal bold bolder*/
    font-style: italic;
    text-decoration: underline;
}

h1 {
    font-family: work sans-serif
    font-weight: bolder;
    font-size: 3px;
    font-style: italic;
     
    /* shorthand font 
    font style -> font weight -> font size-> font family 
    font  . . . . . . . . */

}