body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;

}
header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}
nav { 
    background-color: gray;
    padding: 3px;
    box-shadow: 5px 3px 7px rgba(0, 0, 0, 0.5);

}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}
nav > a:hover{
    text-decoration: underline;
}
main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 5px 3px 7px rgba(0, 0, 0, 0.5);
}
 footer {
    background-color: black;
    color: white;
    padding: 4px;
    margin: 0px;
    text-align: center;
 }
 
 footer > p {
    margin: 0px;
 }
 div#bola {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
 }